*.class
*.pyc
*~
*.swp
*.swo
__comp__*
a.out
GENERATED*
build
programflash.data
.tags
.tags_sorted_by_file
darjeeling.sublime-project
darjeeling.sublime-workspace
WKDeploy.java
WKDeploy.xml
WKDeployCustomComponents.xml
master.cfg
src/config/native/config.txt
src/usersettings.gradle
stk500boot.eep
stk500boot.elf
stk500boot.lss
stk500boot.lst
stk500boot.map
stk500boot.o
stk500boot.sym
stk500boot_v2_mega2560.hex
stk500boot.o.d
darjeeling_flash_page.o
darjeeling_flash_page.hex
wkdeploy.dja
standardlibrary.db
gid.db
fbp.html
wukong/tools/testrtt/testrtt
.gradle
bin
obj
src/config/avrora/results_*
src/config/avrora/resultsets_*
src/config/avrora/old_results
src/config/avrora/oldresults
src/config/avrora/allresults
src/config/avrora/thesis_results
sumsum.txt
src/config/coremk_c/results_*
src/config/motetrack_c/results_*
process-output.userprefs

src/config/avrora/thesis_results\.zip
